@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 CALENDARIO GRANDE Y LIMPIO */
.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 1.2rem;
  background-color: #94e79d !important;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 1rem;
}

/* 📅 DÍAS */
.react-calendar__tile {
  padding: 1rem 0.5rem;
  border-radius: 8px;
}

/* 🧭 NAVEGACIÓN */
.react-calendar__navigation {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 🔵 DÍA SELECCIONADO */
.react-calendar__tile--active {
  background: #cce36f !important;
  color: white;
}

/* ✨ HOVER */
.react-calendar__tile:hover {
  background: #bce29b;
}

/* 🔴 FINES DE SEMANA */
.react-calendar__month-view__days__day--weekend {
  color: #ef4444;
}

/* 🌙 DARK MODE */
.dark .react-calendar {
  background-color: #1f2937 !important;
  color: white;
}

.react-calendar {
  background-color: rgb(158, 222, 133) !important;
}

/* 👩 Madre */
.custody-madre {
  background-color: #dbeafe !important; /* azul claro */
}

/* 👨 Padre */
.custody-padre {
  background-color: #fee2e2 !important; /* rojo claro */
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: white;
  }
}